.terraform/
terraform.tfstate
terraform.tfstate.backup
*.yaml
.DS_Store

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

.terraform.lock.hcl

minikube-test-env/modules/dev.backup
minikube-test-env/modules/dev