minikube-test-env/modules/.terraform.lock.hcl
minikube-test-env/modules/dev
minikube-test-env/modules/dev.backup
minikube-test-env/modules/terraform.tfstate
minikube-test-env/modules/terraform.tfstate.backup
minikube-test-env/modules/test
minikube-test-env/modules/test.backup
minikube-test-env/modules/.terraform/*